<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
    <div layout:fragment="siteContent">
        <div class="container d-flex flex-wrap justify-content-between">
            <div class="card col-9 mt-3" style="width: 33rem" th:each = "req : ${newrequest}" th:if="${!req.isHandled()}">
                <div class="card-body">
                        <h4><span class="fw-bold" style="color: red">*(Новая)</span>Заявка от <span class="fw-bold" th:text="${req.userName}"></span></h4>
                        <p>Курс: <span th:text="${req.courseName}"></span></p>
                        <p><span th:text="${req.commentary}"></span></p>
                    <div class="d-flex">
                        <strong class="me-4">Тел: <span th:text="${req.phone}"></span></strong>
                        <a class="text-decoration-none" th:href="@{'/details/' + ${req.id}}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>